
/*Collapsible*/

body {
    font-family: helvetica;
    font-size: 11pt;
}
.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
}


.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    /*background-color: #D2DCFA;*/
    padding: 10px;
}

.grid-header-header {
    grid-column: 1 / span 7;
    background-color: #D2DCFA;
    border: 1px solid black;
    padding: 2px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.grid-header {
    background-color: #D2DCFA;
    border: 1px solid black;
    padding: 2px;
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
}
.grid-item {
   /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 11pt;
    text-align: left;
}