
/*Collapsible*/

body {
    margin: 0;
    font-family: "Academy Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #14143c;
    text-align: left;
    background-color: #e5e5e5; }

.bg-header {
    background-color: #14143c !important;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    }

.active, .collapsible:hover {
    background-color: #555;
}

.container-data,
.container-fluid {
    width: 100%;
   /* padding-right: 24px;
    padding-left: 24px; */
    margin-right: auto;
    margin-left: auto; }


.container-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    }

.content-grid {
    width: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% auto auto auto;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    /*background-color: #D2DCFA;*/
    padding: 10px;
}

.grid-header-header {
    grid-column: 1 / span 7;
    background-color: #D2DCFA;
    border: 1px solid black;
    padding: 2px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

.grid-header {
    background-color: #D2DCFA;
    border: 1px solid black;
    padding: 2px;
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
}
.grid-item {
   /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 11pt;
    text-align: left;
}

header {
    box-sizing: border-box;
}

.header-row {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 2px;
    font-size: 11pt;
    text-align: center;
    color: white;
}

.menu-grid {
    height: 100%;
    width: 200pt;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #14143c !important;
    overflow: hidden;
    margin-bottom: 1000px;
}

.menu-grid a {
  /*  padding: 6px 6px 6px 15px; */
    text-decoration: none;
   /* font-size: 25px; */
    color: #f1f1f1;
    display: block;
}

.menu-grid p {
    /*  padding: 6px 6px 6px 15px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #f1f1f1;
    display: block;
}

.menu-item-header {
    font-size: 12pt;
    font-weight: bold;
  /*  padding-top: 6px;
   padding-bottom: 3px; */
    padding-left: 10px;
    padding-right: 20px;
    border-color: white;
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-top: 15px;
    margin-bottom: 3px;
}

.menu-item {
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 10pt;
}

.menu-grid a:hover {
    color: #818181;
}

.menu-header {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
}

.position-relative {
    position: relative !important;
}


p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-left: -24px;
}