# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#/Import XSDs/H2 XSDs/list_of_removed_elements.txt
/lvl.txt